*.elc
./desktop/*
.cask
.emacs.desktop
.local
.lsp*
.mc-lists.el
.org-id-locations
.python*
ac-comphist.dat
autosave
bin
bookmarks
core
custom.el
early-init.el
elpa
eshell
irony
magithub
modules
mspyls
org-gcal
org-roam.db
persist
projectile-bookmarks.eld
projects
recentf
request
smex-items
snippets/
tramp
transient
url
var
